<a href="https://colab.research.google.com/github/anirbankhan/AI_Model_figo/blob/main/KNNImputer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer, SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [5]:
df = pd.read_csv('train.csv')[['Age','Pclass','Fare','Survived']]

In [6]:
df.head()

    Age  Pclass     Fare  Survived
0  22.0       3   7.2500         0
1  38.0       1  71.2833         1
2  26.0       3   7.9250         1
3  35.0       1  53.1000         1
4  35.0       3   8.0500         0

In [7]:
df.isnull().mean()*100

Age         19.86532
Pclass       0.00000
Fare         0.00000
Survived     0.00000
dtype: float64

In [8]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [9]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [17]:
knn = KNNImputer(n_neighbors=3,weights='distance')

In [18]:
X_train_trf = knn.fit_transform(X_train)

In [19]:
X_test_trf = knn.transform(X_test)

In [20]:
lr = LogisticRegression()
lr.fit(X_train_trf,y_train)
y_pred = lr.predict(X_test_trf)
accuracy_score(y_test,y_pred)

0.7039106145251397

In [24]:
# Compare the accuracy of KNNImputer with SimpleImputer
si = SimpleImputer(strategy='most_frequent')
X_train_trf1 = si.fit_transform(X_train)
X_test_trf1 = si.transform(X_test)
lr.fit(X_train_trf1,y_train)
y_pred = lr.predict(X_test_trf1)
accuracy_score(y_test,y_pred)

0.664804469273743