<a href="https://colab.research.google.com/github/anirbankhan/AI_Model_figo/blob/main/oneHotEncoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
df = pd.read_csv('train-data.csv')

In [2]:
df

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
6015,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
6016,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
6017,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
6018,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

In [3]:
df['Name'].value_counts()

Name
Mahindra XUV500 W8 2WD                     49
Maruti Swift VDI                           45
Maruti Swift Dzire VDI                     34
Honda City 1.5 S MT                        34
Maruti Swift VDI BSIV                      31
                                           ..
Tata New Safari EX 4x2                      1
Nissan Terrano XL Plus ICC WT20 SE          1
Honda Brio 1.2 S Option MT                  1
Volkswagen Vento Konekt Diesel Highline     1
Lamborghini Gallardo Coupe                  1
Name: count, Length: 1876, dtype: int64

In [4]:
df['Name'].nunique()

1876

In [6]:
df['Fuel_Type'].value_counts()

Fuel_Type
Diesel      3205
Petrol      2746
CNG           56
LPG           10
Electric       2
Name: count, dtype: int64

In [7]:
df['Owner_Type'].value_counts()

Owner_Type
First             4929
Second             968
Third              113
Fourth & Above       9
Name: count, dtype: int64

In [9]:
# one hot encoding is applied for categorical data ,
# basically for nominal data , where We cant do ordering

In [10]:
# one hot encoding using pandas

In [11]:
pd.get_dummies(df, columns=['Fuel_Type', 'Owner_Type'])

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Transmission,Mileage,Engine,Power,Seats,...,Price,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_LPG,Fuel_Type_Petrol,Owner_Type_First,Owner_Type_Fourth & Above,Owner_Type_Second,Owner_Type_Third
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,Manual,26.6 km/kg,998 CC,58.16 bhp,5.0,...,1.75,True,False,False,False,False,True,False,False,False
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Manual,19.67 kmpl,1582 CC,126.2 bhp,5.0,...,12.50,False,True,False,False,False,True,False,False,False
2,2,Honda Jazz V,Chennai,2011,46000,Manual,18.2 kmpl,1199 CC,88.7 bhp,5.0,...,4.50,False,False,False,False,True,True,False,False,False
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Manual,20.77 kmpl,1248 CC,88.76 bhp,7.0,...,6.00,False,True,False,False,False,True,False,False,False
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Automatic,15.2 kmpl,1968 CC,140.8 bhp,5.0,...,17.74,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,6014,Maruti Swift VDI,Delhi,2014,27365,Manual,28.4 kmpl,1248 CC,74 bhp,5.0,...,4.75,False,True,False,False,False,True,False,False,False
6015,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Manual,24.4 kmpl,1120 CC,71 bhp,5.0,...,4.00,False,True,False,False,False,True,False,False,False
6016,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Manual,14.0 kmpl,2498 CC,112 bhp,8.0,...,2.90,False,True,False,False,False,False,False,True,False
6017,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Manual,18.9 kmpl,998 CC,67.1 bhp,5.0,...,2.65,False,False,False,False,True,True,False,False,False
6018,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Manual,25.44 kmpl,936 CC,57.6 bhp,5.0,...,2.50,False,True,False,False,False,True,False,False,False

In [12]:
# k-1 hot encoding

In [13]:
pd.get_dummies(df, columns=['Fuel_Type', 'Owner_Type'], drop_first=True)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Transmission,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_LPG,Fuel_Type_Petrol,Owner_Type_Fourth & Above,Owner_Type_Second,Owner_Type_Third
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,Manual,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75,False,False,False,False,False,False,False
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Manual,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50,True,False,False,False,False,False,False
2,2,Honda Jazz V,Chennai,2011,46000,Manual,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50,False,False,False,True,False,False,False
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Manual,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00,True,False,False,False,False,False,False
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Automatic,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,6014,Maruti Swift VDI,Delhi,2014,27365,Manual,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75,True,False,False,False,False,False,False
6015,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Manual,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00,True,False,False,False,False,False,False
6016,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Manual,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90,True,False,False,False,False,True,False
6017,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Manual,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65,False,False,False,True,False,False,False
6018,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Manual,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50,True,False,False,False,False,False,False

In [9]:
# one hot encoding using sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,[1,5,7]],df.iloc[:,-1],test_size=0.2)

In [10]:
X_train.head()

                                     Name Fuel_Type Owner_Type
4914  Mercedes-Benz GLC 220d 4MATIC Style    Diesel      First
4019          Hyundai i20 Sportz 1.4 CRDi    Diesel     Second
735                Maruti Baleno Zeta 1.3    Diesel      First
824                      Renault KWID RXT    Petrol      First
5686        Mercedes-Benz E-Class 280 CDI    Diesel      First

In [11]:
X_test.head()

                                       Name Fuel_Type Owner_Type
301   Volkswagen Polo Petrol Trendline 1.2L    Petrol      First
5597                       Hyundai i10 Asta    Petrol      First
4493                BMW 5 Series 530i Sedan    Petrol      First
935          Renault Duster 85PS Diesel RxL    Diesel      First
1573                  Maruti Ertiga VXI CNG       CNG      First

In [12]:
y_train.head()

4914    46.95
4019     3.90
735      7.83
824      3.15
5686    11.00
Name: Price, dtype: float64

In [13]:
y_test.head()

301     3.89
5597    3.75
4493    8.75
935     5.75
1573    8.35
Name: Price, dtype: float64

In [39]:
import numpy as np
ohe = OneHotEncoder(drop='first', sparse_output=False, dtype=np.int32)

In [40]:
X_train = ohe.fit_transform(X_train[['Fuel_Type']])

UFuncTypeError: ufunc 'maximum' did not contain a loop with signature matching types (dtype('<U9'), dtype('<U9')) -> None

In [37]:
X_train.dtype()

TypeError: 'numpy.dtypes.Float64DType' object is not callable